<div class="container">
  <div fxLayout="row">
    <div fxFlex="100">
      <mat-toolbar color="primary">
        <a href="">
          <img src="../assets/img/t-shape-colors.svg" alt="">
        </a>

        <span>Toladata Programs</span>
      </mat-toolbar>
    </div>
  </div>
</div>
<div class="container">
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
    <mat-card fxFlex="80"  fxLayout="column" fxLayoutAlign="left">
      <router-outlet></router-outlet>
    </mat-card>
  </div>
</div>
